<div class="card ">
    <div class="card-sbody">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, pariatur neque saepe numquam quod animi
            vero, enim, inventore iure impedit aperiam ipsum! Obcaecati consequuntur natus, inventore aliquid suscipit
            similique. Quisquam.</p>
    </div>

</div>